<footer class="footer">
  <small>
  Rails tutorial by Graham Hinchly
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://www.bbc.co.uk">BBC</a></li>
    </li>
  </nav>
</footer>
      
